.wrapper {
    display: flex;
    justify-content: space-between;
}

.listado, .formulario {
    vertical-align: middle;
    padding: 20px;
}

.listado {
    width: 60%;
}

.formulario {
    width: 40%;
}

input, textarea {
    display: block;
    margin: 5px 0;
    width: 100%;
    padding: 5px;
}

textarea {
    height: 10rem;
}

button {
    font-size: 0.9rem;
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid black;
}

.invalid {
    background-color: pink;
}